header{
          display: block;
          background-color:#7ECA9C;
          border-color:aliceblue;
          border-radius:25px;
          border-style:solid;
          border-color: black;
          margin-left: 125px;
          margin-right: 125px;

}
body{
          background: #FFF6DA;
}
.logo{
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 0 auto;
}
.logo img{
          border-radius: 20px;
          border-style:solid;
          border-color: aliceblue;
}
.logo img:hover{
          border-color:black;
}
.logo h1{
          font-size: 35px;
          color:black;
          margin-left: 180px auto;
          margin-right: 180px auto;
          font-family:sans-serif;
          background: #CCFFBD;
          border: 3px solid black;
}
.logo h1:hover{
          color:darkslategrey;
          text-decoration:overline;
          border-style:solid;
          margin-left: 50px;
          margin-right: 50px;
}
.logo h2{
        display: none;
        color: rgb(212, 218, 223);
}

.Lista{
          display: flex;
          justify-content: center;
          margin-left: 170px;
          margin-right: 180px;
          margin-top: 10px;
          margin-bottom: 10px;
         
}
.menu{
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 400px;
          margin-right:26px ;
          border-radius: 20px;
          border: black solid;
          padding-right: 25px;
          padding-left: 25px;
          background: #CCFFBD;
          
}
.menu a{
          color: black;
          text-decoration:none;
          border: 2px solid black;
          padding-left: 7px;
          font-size: 19px;
          padding-right: 7px;
          background-color: #7ECA9C;
}
.menu a:hover{
          border-color:#FFF6DA;
          color: #FFF6DA;
}

.submenu {
          display: none;
          background: #CCFFBD;
          border: 3px solid black;
          border-radius: 18px;
          padding: 2px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          text-align: start;
}

.menu li:hover .submenu{
          position:absolute;
          display: block;
}

.Pagina1{
        margin-left: 190px;
        margin-right: 110px;
}
.rolplay-series{
          display: inline-block;
          flex-direction: column;
          justify-content: center;
          background-color: black;
          text-align: center;
          margin-top: 10px;
          border-radius: 10px;

}

.rolplay-series h2{
          text-align: center;
          font-size: 35px;
          color:black;
          background-color:#7ECA9C;
        border-style:solid;
          border-color:rgb(108, 103, 103);
          border-radius: 30px;
         margin-left:  100px;
         margin-right: 100px;
          padding-top: 10px;
          padding-bottom: 10px;
}


.cardSeries2{
          display: inline-block;
          margin-left:45px;
          margin-right: 45px;
          background: #CCFFBD;
          ;
          border-radius: 5px;
          border-color:white;
          border-style:solid;
          text-align: center;
          margin-bottom: 15px;
}
.cardSeries2 h4{
          font-size: 22px;
          border-color:black;
          border-style:solid;
          border-radius:5px;
          background-color: #7ECA9C;
          margin-left: 25px;
          margin-right:25px;
}
.cardSeries2 a{
          color: black;
          text-decoration: none;

}
.cardSeries2 a:hover{
        color: rgb(87, 153, 131);
}

@media (max-width:600px){
          body {
                    background-color: #FFF6DA ;
}
          header{
                    margin: auto;
                    width: 405px;
                    background: rgb(8, 201, 201);
                    margin-bottom: 10px;
                    height: 660px;
                    padding: 10px;
          }
          .logo h1{
                   background-color: aquamarine;
          }
          .logo h2{
                display: block;
          }
          .menu{
                    margin-left: 150px;
                    margin-right: 150px;
                    background: aquamarine;
          }
          .menu a{
                    background: rgb(189, 189, 189);
          }

          .submenu{
                    background:aquamarine;
                    width: 170px;
          }
          .Pagina1{
                display: flex;
                margin-left:50PX
          }
          .rolplay-series{
                    display:flex;
                    justify-content: center;
                    width: 350px;
                    margin:0 auto;
                    border: 2px rgb(74, 72, 72) solid;
                    background-color: rgb(41, 41, 41);
          }
          .cardSeries2{
                    display: inline-block;
                    margin-left: 45px;
                    margin-right: 45px;
                    background:aquamarine;
                    border: 2px rgb(199, 199, 199) solid;
          
          }
          .cardSeries2 a{
                    color:black;
          }
          .cardSeries2 a:hover{
                    color: blue;
                    text-decoration: underline;
          }
          .cardSeries2 img{
                    width: 250px;
                    height: 140px;
          }
}
*{
          list-style:none;
}
